/* Ullikummi A */
@font-face {
  font-family: "Ullikummi";
  src: url("/assets/fonts/Ullikummi/UllikummiA.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeSpeed;
}
/* Ullikummi B */
@font-face {
  font-family: "Ullikummi";
  src: url("/assets/fonts/Ullikummi/UllikummiB.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeSpeed;
}
/* Ullikummi B */
@font-face {
  font-family: "Ullikummi";
  src: url("/assets/fonts/Ullikummi/UllikummiC.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeSpeed;
}

.cuneiform {
  font-family: Ullikummi;
}

table {
  font-family: LatoWeb;
}

/* Cuneiform syllable table */
table.syllabary {
  width: 100%;
  border-collapse: collapse;
  border-bottom: none;
}

table.syllabary tr {
  border: none;
  td {
    border: 0.75px solid var(--global-bg-color);
    border-bottom-color: var(--global-bg-color) !important;
    padding: 0.25em 0em 0em 0em;
    margin: 0em;
    vertical-align: middle;
    text-align: center;
    font-family: Ullikummi;
    font-size: 125%;
    color: var(--global-bg-color);
    background-color: var(--global-theme-color);

    p,
    em,
    span {
      color: var(--global-bg-color) !important;
      background-color: inherit;
      margin: inherit;
    }
  }
}

table.syllabary tr:first-child td {
  border: none;
  padding: 0em 0em 0.1em 0em;
  font-family: LatoWeb;
  font-weight: bold;
  color: var(--global-text-color) !important;
  background-color: var(--global-bg-color);

  p {
    color: var(--global-text-color) !important;
    background-color: var(--global-bg-color);
  }
}

table.syllabary tr td:first-child {
  border: none;
  padding: 0em 0.5em 0em 0em;
  font-family: LatoWeb;
  font-weight: bold;
  text-align: right;
  width: 1.5em !important;
  color: var(--global-text-color) !important;
  background-color: var(--global-bg-color);

  p {
    color: var(--global-text-color) !important;
    background-color: var(--global-bg-color);
  }
}

/* Transliteration under cuneiform */
table.transliteration {
  max-width: 100%;
  color: var(--global-footer-bg-color);
}

table.transliteration td {
  border: none;
}

/* Cuneiform text */
table.transliteration tr:nth-child(odd) td {
  padding: 0em;
  font-family: Ullikummi;
}

/* Roman text */
table.transliteration tr:nth-child(even) td {
  padding: 0em 0em 1em 0em;
  font-style: italic;
  font-weight: 300;
}

/* Front side */
table.transliteration.alternating tr:nth-child(4n + 1) {
  text-align: left;
}
table.transliteration.alternating tr:nth-child(4n + 2) {
  text-align: left;
}

/* Reverse side */
table.transliteration.alternating tr:nth-child(4n + 3) {
  text-align: right;
}
table.transliteration.alternating tr:nth-child(4n + 4) {
  text-align: right;
}

/* Dividing line */
table.transliteration.centred-row tr {
  text-align: center;
}

/* with translation */
table.transliteration.translation tr:nth-child(even) td {
  padding: 0.1em;
}

/* Intervals comparison */
table.intervals {
  max-width: 100%;
}

table.intervals td {
  padding: 0.25em 0em 0em 0.5em;
  margin: 0em;

  p,
  em,
  span {
    margin: inherit;
  }
}

table.intervals td:nth-child(4n + 2) {
  font-weight: 300;
  font-style: italic;
}

table.intervals td:nth-child(4n + 3) {
  font-family: Ullikummi;
  font-size: 125%;
}

table.intervals td:nth-child(4n + 4) {
  font-weight: bold;
}

table.intervals th:nth-child(4n + 4) {
  width: 6em !important;
}

/* Music by numbered intervals */
table.tablature {
  border-bottom: 1px solid var(--global-divider-color);
  font-weight: 300;
}

table.tablature td {
  padding: 0px 10px;
  text-align: center;
  vertical-align: middle;
  border: none;
  margin: 0em;

  p,
  em,
  span {
    margin: inherit;
  }
}

table.tablature td:nth-child(odd) {
  font-weight: bold;
}

table.tablature tr:nth-child(even) td:nth-child(even) {
  font-weight: bold;
}

table.tablature tr:nth-child(odd) td:nth-child(odd) {
  padding-top: 0.2em;
}

table.tablature tr:first-child td:last-child {
  padding: 0em;
}

table.tablature tr:nth-child(odd) {
  border-top: 1px solid var(--global-divider-color);
}

table.tablature tr:nth-child(even) {
  margin-bottom: 0.1em;
  font-weight: bold;
}

/* Tuning instructions */

table.tuning {
  td,
  th {
    padding: 0.25em;

    p {
      margin: 0;
    }
  }
}

table.tuning td:nth-child(1) {
  font-weight: bold;
}

table.tuning th:nth-child(2) p {
  color: var(--global-theme-color);
}

table.tuning td:nth-child(2) p {
  color: var(--global-theme-color);
  em,
  strong {
    color: inherit;
  }
}

table.tuning td:nth-child(3) p {
  color: var(--global-theme-color);
  em,
  strong {
    color: inherit;
  }
}

/* Correspondence to modes */

table.modes {
  td,
  th {
    padding: 0.25em;

    p {
      margin: 0;
    }
  }
}
table.modes td:nth-child(1) {
  font-weight: bold;
}
