/* Ullikummi A */@font-face {
    font-family: 'Ullikummi';
    src: url('/assets/fonts/Ullikummi/UllikummiA.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeSpeed;
}
/* Ullikummi B */@font-face {
    font-family: 'Ullikummi';
    src: url('/assets/fonts/Ullikummi/UllikummiB.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeSpeed;
}
/* Ullikummi B */@font-face {
    font-family: 'Ullikummi';
    src: url('/assets/fonts/Ullikummi/UllikummiC.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeSpeed;
}

.cuneiform {
    font-family: Ullikummi;
}


/* Cuneiform syllable table */
table.syllabary {
    width: 100%;
}

table.syllabary td {
    border: 0.5px solid white;
    padding: 0.25em 0em 0em 0em;
    vertical-align: middle;
    text-align: center;
    color: white;
    background-color: #505360;
    font-family: Ullikummi;
    font-size: 125%;
}

table.syllabary tr:first-child td {
    border: none;
    padding: 0em 0em 0.1em 0em;
    font-family: LatoWeb;
    font-weight: bold;
    color: #222831;
    background-color: white;
}

table.syllabary td:first-child {
    border: none;
    padding: 0em 0.5em 0em 0em;
    font-family: LatoWeb;
    font-weight: bold;
    text-align: right;
    width: 1.5em !important;
    color: #222831;
    background-color: white;
}

/* Transliteration under cuneiform */
table.transliteration {
    width: 92%;
}

table.transliteration td {
    border: none;
}

/* Cuneiform text */
table.transliteration tr:nth-child(odd) td {
    padding: 0em;
    color: black;
    font-family: Ullikummi;
}

/* Roman text */
table.transliteration tr:nth-child(even) td {
    padding: 0em 0em 1em 0em;
    font-style: italic;
    font-weight: 300;
    color: #7a7a88;
}

/* Front side */
table.transliteration.alternating tr:nth-child(4n+1) {
    text-align: left;
}
table.transliteration.alternating tr:nth-child(4n+2) {
    text-align: left;
}

/* Reverse side */
table.transliteration.alternating tr:nth-child(4n+3) {
    text-align: right;
}
table.transliteration.alternating tr:nth-child(4n+4) {
    text-align: right;
}

/* Dividing line */
table.transliteration.centred-row tr {
    text-align: center;
}

/* with translation */
table.transliteration.translation tr:nth-child(even) td {
    padding: 0.1em;
}


/* Intervals comparison */
table.intervals {
    width: 85%;
}

table.intervals td {
    padding: 0em 0em 0em 0.5em;
}

table.intervals td:nth-child(4n+2) {
    font-weight: 300;
    font-style: italic;
}

table.intervals td:nth-child(4n+3) {
    font-family: Ullikummi;
    font-size: 125%;
    padding: 0.25em 0em 0em 0em;
}

table.intervals td:nth-child(4n+4) {
    font-weight: bold;
}

table.intervals th:nth-child(4n+4) {
    width: 6em !important;
}


/* Music by numbered intervals */
table.tablature {
    border-bottom: 1px solid #9b9b9d;
    margin-bottom: 1em;
    font-weight: 300;
}

table.tablature td {
    padding: 0px;
    text-align: center;
    border: none;
}

table.tablature tr:nth-child(odd) td:nth-child(odd) {
    font-weight: bold;
    padding-top: 0.2em;
}

table.tablature tr:first-child td:last-child {
    padding-top: 0em;
}

table.tablature tr:nth-child(odd) {
    border-top: 1px solid #9b9b9d;
}

table.tablature tr:nth-child(even) {
    margin-bottom: 0.1em;
    font-weight: bold;
}


/* Tuning instructions */
table.tuning th:nth-child(2) {
    padding-left: 1em;
    width: 11em !important;
}
table.tuning td:nth-child(1) {
    font-weight: bold;
}
table.tuning td:nth-child(2) {
    width: 8em !important;
}
table.tuning td:nth-child(3) {
    width: 3em !important;
}
table.tuning td:nth-child(3) p {
    margin: 0;
}

/* Correspondence to modes */
table.modes tr:nth-child(2) th {
    width: 1.5em !important;
}
table.modes td:nth-child(1) {
    font-weight: bold;
}
