<div
  class="newsletter-form-container"
  {% if include.center %}
    style="margin: 20px"
  {% endif %}
>
  <iframe name="hidden_iframe" id="hidden_iframe" style="display: none;"></iframe>
  <form
    accept-charset="UTF-8"
    class="newsletter-form"
    action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSfDALdTp5L701s9-H_JIOcGgQ7kBydv7uaCNtcNRbN7nxWtyQ/formResponse"
    method="POST"
    enctype="multipart/form-data"
    target="hidden_iframe"
    style="justify-content: {% if include.left %}flex-start{% elsif include.right %}flex-end{% else %}center{% endif %}"
  >
    <label class="newsletter-form-label" required>Name</label>
    <input
      class="newsletter-form-input"
      name="entry.2005620554"
      type="text"
      placeholder="name"
      required
    >

    <label class="newsletter-form-label" required>Email</label>
    <input
      class="newsletter-form-input"
      name="entry.1045781291"
      type="email"
      aria-describedby="emailHelp"
      placeholder="user@example.com"
      required
    >

    <label class="newsletter-form-label" required>Subject</label>
    <input
      class="newsletter-form-input"
      name="entry.1676351200"
      type="text"
      placeholder="subject"
      required
    >

    <label class="newsletter-form-label" required>Message</label>
    <textarea
      rows="8"
      class="newsletter-form-input"
      name="entry.839337160"
      type="text"
      placeholder="message"
      required
    ></textarea>

    <br>
    <label class="newsletter-form-label" required>How many planets do humans live on?</label>
    <input
      class="newsletter-form-input"
      name="entry.58717136"
      type="text"
      placeholder="(anti-robot check)"
      required
    >

    <button
      type="submit"
      class="newsletter-form-button"
      style="justify-content: {% if include.left %}flex-start{% elsif include.right %}flex-end{% else %}center{% endif %}"
    >
      Send
    </button>

    <button
      type="button"
      class="newsletter-loading-button"
      style="justify-content: {% if include.left %}flex-start{% elsif include.right %}flex-end{% else %}center{% endif %}"
    >
      Please wait...
    </button>
  </form>

  <div
    class="newsletter-success"
    style="justify-content: {% if include.left %}flex-start{% elsif include.right %}flex-end{% else %}center{% endif %}"
  >
    <p class="newsletter-success-message">Thanks for getting in touch!</p>
  </div>

  <div
    class="newsletter-error"
    style="justify-content: {% if include.left %}flex-start{% elsif include.right %}flex-end{% else %}center{% endif %}"
  >
    <p class="newsletter-error-message">Oops! Something went wrong, please try again</p>
  </div>

  <button
    class="newsletter-back-button"
    type="button"
    onmouseout='this.style.textDecoration="none"'
    onmouseover='this.style.textDecoration="underline"'
  >
    &larr; Back to form
  </button>
</div>

<script>
  function submitHandler(event) {
    event.preventDefault();
    var container = event.target.parentNode;
    var form = container.querySelector('.newsletter-form');
    var success = container.querySelector('.newsletter-success');
    var errorContainer = container.querySelector('.newsletter-error');
    var errorMessage = container.querySelector('.newsletter-error-message');
    var backButton = container.querySelector('.newsletter-back-button');
    var submitButton = container.querySelector('.newsletter-form-button');
    var loadingButton = container.querySelector('.newsletter-loading-button');

    const rateLimit = () => {
      errorContainer.style.display = 'flex';
      errorMessage.innerText = 'Too many submissions, please try again in a little while';
      submitButton.style.display = 'none';
      backButton.style.display = 'block';
    };

    // Compare current time with time of previous sign up
    var time = new Date();
    var timestamp = time.valueOf();
    var previousTimestamp = localStorage.getItem('loops-form-timestamp');

    // If last sign up was less than a minute ago
    // display error
    if (previousTimestamp && Number(previousTimestamp) + 60000 > timestamp) {
      rateLimit();
      return;
    }
    localStorage.setItem('loops-form-timestamp', timestamp);

    submitButton.style.display = 'none';
    loadingButton.style.display = 'flex';

    form.submit();
    form.style.display = 'none';
    success.style.display = 'flex';
    form.reset();
    loadingButton.style.display = 'none';
    backButton.style.display = 'block';
  }

  function resetFormHandler(event) {
    var container = event.target.parentNode;
    var form = container.querySelector('.newsletter-form');
    var formInput = container.querySelector('.newsletter-form-input');
    var success = container.querySelector('.newsletter-success');
    var errorContainer = container.querySelector('.newsletter-error');
    var errorMessage = container.querySelector('.newsletter-error-message');
    var backButton = container.querySelector('.newsletter-back-button');
    var submitButton = container.querySelector('.newsletter-form-button');

    success.style.display = 'none';
    errorContainer.style.display = 'none';
    errorMessage.innerText = 'Oops! Something went wrong, please try again';
    backButton.style.display = 'none';
    form.style.display = 'flex';
    submitButton.style.display = 'flex';
  }

  var formContainers = document.getElementsByClassName('newsletter-form-container');

  for (var i = 0; i < formContainers.length; i++) {
    var formContainer = formContainers[i];
    var handlersAdded = formContainer.classList.contains('newsletter-handlers-added');
    if (handlersAdded) continue;
    formContainer.querySelector('.newsletter-form').addEventListener('submit', submitHandler);
    formContainer.querySelector('.newsletter-back-button').addEventListener('click', resetFormHandler);
    formContainer.classList.add('newsletter-handlers-added');
  }
</script>

<noscript>
  <style>
    .newsletter-form-container {
      display: none;
    }
  </style>
</noscript>
